
<div [class]="isDarkMode? 'background1-image':'background-image'">
    <div class="body ">
<!--     
     <div class="container">
      <br>
              -->
      <!-- <h1 class="animated-text" style="text-align: center;">
        <span>HI, I'M  </span>
        <div class="animated-names" style="text-align: left;">
            <span class="name">KISHORE</span>
            <span class="title">JAVA FULL STACK DEVELOPER</span>
        </div>
    </h1>       -->

      <div class="row">
        <div class="col-lg-12" >
          
            <!-- this is for pictures pt-4 pt-lg-0 content -->
          <!-- <h3  style="text-align: center;">JAVA FULL STACK DEVELOPER</h3> -->
      
          <br>
          <!-- <mat-card > -->
            <!-- rgb(228 131 254); -->
          <div class="row">
            <!-- <div class="col-lg-2">

            </div>               -->
            <div class="borders">
            <div class="col-lg-12">
                <br>
                <h1 class="animated-text" style="text-align: center;">
                  <span>CONTACT </span>
                  <!-- HI, I'M  -->
                  <!-- <div class="animated-names" style="text-align: left;">
                      <span class="name">KISHORE</span>
                      <span class="title">JAVA FULL STACK DEVELOPER</span>
                  </div> -->
              </h1>  
                <hr class="custom-line">
                <!-- <br> -->
                <!-- <div class="borders"> -->
                <ul style="list-style-type: disc; ">
                  <br>
                  <p><i class='bx bxl-linkedin-square nav__icon'></i> <strong>LinkedIn  :  </strong><a href="https://www.linkedin.com/in/kishore-v-a64b2417b/" target="_blank">https://www.linkedin.com/in/kishore-v-a64b2417b/</a></p><br>
                  <p><i class='bx bx-envelope nav__icon'></i><strong>Email  :  </strong>kishorebe1199&#64;gmail.com</p><br>
                  <p><i class='bx bx-phone-call nav__icon' ></i><strong>Phone No  :  </strong>6369384178</p><br>
                  <!-- <li><strong>Currently  :  </strong>Chennai</li><br> -->
                  <p><i class='bx bx-location-plus nav__icon' ></i><strong>Address  :  </strong> 65/78A,Bharathiyar street, Chathiramanai POST, Perambalur District, Tamilnadu, India-621104</p><br>
                </ul>
              <!-- </div> -->
              
            </div>
            <!-- <br> -->
            <hr class="custom-line">
            <h1 class="animated-text" style="text-align: center;">
              <div class="animated-names" style="text-align: left;">
                  <span class="title">Thank you for Exploring!</span>
              </div>
          </h1>   
          <!-- <hr class="custom-line"> -->
            <!-- <div class="animated-text1">
            <h3  style="font-family: 'Courier New', Courier, monospace;text-align: center;">Thank you for visiting!</h3>
          </div> -->
            <br>
          </div>

         


          </div>
        <!-- </mat-card> -->
        </div>
      </div>

    <!-- </div> -->

    
    </div>
    </div>

    <br>
    <br>
    <!-- <br> -->
