<div [class]="isDarkMode? 'background1-image':'background-image'">
    <div class="body ">
    

            <div class="container">
        
              <div class="row">
                <div class="col-lg-12" >
                  
                  <div class="row">
                    <div class="borders">

                    <div class="col-lg-2">

                    </div>
             <br>
                        <h1 class="animated-text" style="text-align: center;">
                          <span> ABOUT ME </span>
                      </h1>              
                      <hr class="custom-line">
                        <br>
                        <ul style="list-style-type: disc; padding-left: 20px;">
                            <li><strong>JAVA FULL STACK DEVELOPER</strong> with 11+ months of internship experience</li><br>
                            <li>Experienced in <strong>Software Development Life Cycle (SDLC)</strong> and <strong>Agile methodologies</strong></li><br>
                            <li>Proficient in <strong>Angular, Spring Boot, Spring, JAVA, HTML, Hibernate, MySQL, GitHub, Jenkins, RESTful APIs and microservices architecture</strong></li><br>
                            <li>Knowledgeable in <strong>continuous integration/continuous deployment (CI/CD)</strong> practices</li><br>
                            <li>Adept at <strong>collaborating with cross-functional teams</strong> to deliver high-quality software</li><br>
                            <li>Skilled in <strong>problem-solving</strong>, <strong>critical thinking </strong>and <strong> continuous learning</strong></li><br>
                            <li>Approaches problems with a positive attitude and aims for swift resolutions</li><br>
                            <li>Passionate of innovation and Highly mindful of time management and productivity</li><br>
                        </ul>
                    
                    </div>
                  </div>
                </div>
              </div>
        
            </div>
       
    
    </div>
    </div>