<div class="popup" *ngIf="isVisible">
  <div class="popup-content">
    <h4>{{ message }}</h4>
  </div>
</div>



<div [class]="isDarkMode? 'background1-image':'background-image'"> 
  
    <div class="body ">
    
          <div class="row">
            <div class="col-lg-12" >
                 <h1 style="font-family: 'Courier New', Courier, monospace; text-align: center; font-weight: 250;">WELCOME,</h1>
              <br>
         
              <h1 class="animated-text" style="font-family: 'Courier New', Courier, monospace;font-weight: 250;">
                <span>HI, I'M  </span>
                <div class="animated-names">
                    <span class="name">KISHORE</span>
                    <span class="title">JAVA FULL STACK DEVELOPER</span>
                </div>
            </h1>
            <br>



            
            
            <!-- <button (click)="showPopup('Thanks for Downloading!')">Show Popup</button> -->
            



<div class="border-animation" style="text-align: center;">
            <div class="image-container">
              <img src="assets/images/Kishore's.jpg" alt="Image" class="animated-image" />
            </div>
          </div>        


            <br>
             
              <br>
              <div class="modal-footer" style="text-align: center;">
              <a href="assets/resume/Kishore's_Resume.docx" download="Kishore's_Resume.docx"><button class="btn btn-back h-space" (click)="showPopup('Thanks for Downloading!')"><i class='bx bxs-download'></i> Resume</button></a>
              <a href="https://www.linkedin.com/in/kishore-v-a64b2417b/" target="_blank"><button class="btn btn-primary h-space"><i class='bx bx-bookmark-plus'></i> Hire Me</button></a>
    
              </div>
              <br>
             <br>
              <h3 class="animated-text1" style="font-family: 'Courier New', Courier, monospace;text-align: center;">Thank you for visiting!</h3>
    
              <br>
              
            </div>
          </div>
    
    </div>
    </div> 